<div
  id="LuviaLightbox"
  class="fixed inset-0 z-[10000] bg-black flex items-center justify-center opacity-0 pointer-events-none transition-all duration-300"
>
  <button
    type="button"
    class="absolute top-8 right-8 text-white hover:bg-secondary bg-primary text-5xl z-[9999] h-[60px] w-[60px] cursor-pointer rounded-full flex items-center justify-center"
    onclick="closeLuviaGallery()"
    aria-label="Close gallery"
  >
    {% render 'icon-close' %}
  </button>
  <button
    type="button"
    class="absolute left-4 top-1/2 -translate-y-1/2 text-white hover:bg-secondary bg-primary z-[10001] p-4 cursor-pointer rounded-full flex items-center justify-center"
    onclick="changeImage(-1)"
    aria-label="Previous image"
  >
    {% render 'icon-chevron-left' %}
  </button>
  <img
    id="LightboxImage"
    height="auto"
    width="800"
    class="max-w-[85%] max-h-[80vh] object-contain shadow-2xl transition-all duration-300"
    alt="Gallery"
  >
  <button
    type="button"
    class="absolute right-4 top-1/2 -translate-y-1/2 text-white hover:bg-secondary bg-primary z-[10001] p-4 cursor-pointer rounded-full flex items-center justify-center"
    onclick="changeImage(1)"
    aria-label="Next image"
  >
    {% render 'icon-chevron-right' %}
  </button>
  <div id="GalleryCounter" class="absolute bottom-10 text-white text-[14px] tracking-widest uppercase"></div>
</div>
