<div class="overflow-hidden py-2" style="background-color: {{ section.settings.bg_color }};">
  <div class="whitespace-nowrap animate-marquee inline-block">
    {{ section.settings.announcement_text }}
  </div>
</div>

{% schema %}
{
  "name": "Duyuru Barı",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Duyuru Metni",
      "default": "Büyük İndirimi Kaçırmayın!"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Arka Plan Rengi",
      "default": "#1d4ed8"
    }
  ]
}
{% endschema %}
