<header class="absolute top-0 left-0 z-40 w-full py-8 bg-white/80">
  <div class="container ">
    <a href="{{ routes.root_url }}" class=" w-[170px] lg:w-[180px] shrink-0">
      {% if section.settings.logo %}
        {{ section.settings.logo | image_url: width: 180 | image_tag: alt: shop.name }}
      {% else %}
        <span class="h2">{{ shop.name }}</span>
      {% endif %}
    </a>
  </div>
</header>

{% schema %}
{
  "name": "Header Three",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "header_phone",
      "label": "Phone Number",
      "placeholder": "+90 5XX XXX XX XX"
    },
    {
      "type": "checkbox",
      "id": "show_phone",
      "label": "Show Phone",
      "default": true
    }
  ]
}
{% endschema %}
