<div class="grid grid-cols-2 md:grid-cols-4 gap-6">
  {% for product in collections[section.settings.collection].products limit: 4 %}
    {% render 'product-card', product: product %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Hello World",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
