{% comment %}
  This section is used in the page template to render store pages like About us
  or Contact us.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/page
{% endcomment %}

<div class="section-spacing py-12 md:py-24 bg-white">
  <div class="container mx-auto px-4">
    {% if section.settings.show_title %}
      <div class="text-center mb-12">
        <h2 class="text-3xl md:text-5xl font-light uppercase tracking-[0.2em] text-black">
          {{ page.title }}
        </h2>
        <div class="w-12 h-[1px] bg-black mx-auto mt-6"></div>
      </div>
    {% endif %}

    <div class="">
      <div class="flex flex-col gap-5 text-[16px] custom_page_content">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

<style>
  .custom_page_content ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  .custom_page_content ol {
    list-style-type: decimal;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
</style>

{% schema %}
{
  "name": "Page Content",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show Page Title",
      "default": false,
      "info": "Disable this if you are using a 'Main Page Header' (Hero) section at the top."
    }
  ]
}
{% endschema %}
