<div class="container py-[300px]">
  <!-- Swiper -->
  <div class="swiper myTestimonialSwiper">
    <div class="swiper-wrapper">
      {% for item in section.blocks %}
        <div class="swiper-slide">
          {{ item.settings.testimonial }}
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<script>
  const initSwiper = () => {
    new Swiper('.myTestimonialSwiper', {
      loop: true,
      effect: 'fade',
      speed: 1200,
      fadeEffect: {
        crossFade: true,
      },
      autoplay: {
        delay: 6000,
        disableOnInteraction: false,
      },
      on: {
        init: function () {
          const activeSlide = this.slides[this.activeIndex];
          activeSlide.classList.add('is-active');
        },
        slideChangeTransitionStart: function () {
          this.slides.forEach((slide) => {
            slide.classList.remove('is-active');
          });
        },
        slideChangeTransitionEnd: function () {
          const activeSlide = this.slides[this.activeIndex];
          activeSlide.classList.add('is-active');
        },
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        dynamicBullets: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  };

  document.addEventListener('DOMContentLoaded', initSwiper);
  document.addEventListener('shopify:section:load', initSwiper);
</script>

{% schema %}
{
  "name": "Testimonial",
  "settings": [
    {
      "type": "number",
      "id": "slides_per_view",
      "label": "Slides per view",
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "textarea",
          "id": "testimonial",
          "label": "Testimonial"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial"
    }
  ]
}
{% endschema %}
