<div class="hidden lg:flex bg-custom-bg border-b border-[#000000]/10 py-2">
  <div class="container">
    <div class="flex flex-row items-center justify-between">
      <div class="">
        <div class="hidden lg:flex">
          {% if section.settings.show_phone and section.settings.header_phone != blank %}
            <ul class="flex items-center gap-2">
              <li>{% render 'icon-phone' %}</li>
              <li class="font-medium">
                <a href="{{ section.settings.header_phone | replace: ' ', '' }}">
                  {{ section.settings.header_phone -}}
                </a>
              </li>
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="">
        {% comment %} Social Media Icons {% endcomment %}
        <div class="hidden lg:flex">
          <ul class="flex items-center gap-2">
            {%- for block in section.blocks -%}
              {%- if block.type == 'social_icon' -%}
                <li
                  class="p-2 bg-secondary hover:bg-primary text-white hover:text-white transition-colors rounded-full"
                  {{ block.shopify_attributes }}
                >
                  <a
                    href="{{ block.settings.link | default: '#' }}"
                    target="_blank"
                    class=""
                  >
                    {%- case block.settings.icon_choice -%}
                      {%- when 'icon-facebook' -%}
                        {% render 'icon-facebook' %}
                      {%- when 'icon-instagram' -%}
                        {% render 'icon-instagram' %}
                      {%- when 'icon-youtube' -%}
                        {% render 'icon-youtube' %}
                      {%- when 'icon-x' -%}
                        {% render 'icon-x' %}
                      {%- when 'icon-tiktok' -%}
                        {% render 'icon-tiktok' %}
                    {%- endcase -%}
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Top Bar",
  "settings": [
    {
      "type": "text",
      "id": "header_phone",
      "label": "Phone Number",
      "placeholder": "+90 5XX XXX XX XX"
    },
    {
      "type": "checkbox",
      "id": "show_phone",
      "label": "Show Phone",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "social_icon",
      "name": "Social Media Icon",
      "settings": [
        {
          "type": "select",
          "id": "icon_choice",
          "label": "Select Icon",
          "options": [
            { "value": "icon-facebook", "label": "Facebook" },
            { "value": "icon-instagram", "label": "Instagram" },
            { "value": "icon-youtube", "label": "YouTube" },
            { "value": "icon-x", "label": "X" },
            { "value": "icon-tiktok", "label": "TikTok" }
          ],
          "default": "icon-instagram"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Social Media Icon Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Top Bar"
    }
  ]
}
{% endschema %}
