@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: #3b443c;
		--color-secondary: #b2ac88;
		--color-custombg: #f9f9f9;
		--color-line: #e5e7eb;
		--color-white: #ffffff;
		--color-black: #000000;
		--color-bgtransparent: rgba(249, 249, 249, 0.3);

		--font-heading: 'Josefin Sans', sans-serif;
		--font-body: 'Inter', sans-serif;
	}

	body {
		@apply font-inter text-primary antialiased m-0;
	}

	.bg-transparent {
		background-color: transparent !important;
	}

	.bg-bgtransparent {
		background-color: var(--color-bgtransparent) !important;
		background: var(--color-bgtransparent) !important;
	}

	header#main-header.bg-bgtransparent {
		background-color: var(--color-bgtransparent) !important;
		background: var(--color-bgtransparent) !important;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-josefin text-primary leading-[1.2] font-bold;
	}

	h1 {
		font-size: clamp(2.5rem, 5vw, 4rem);
	}
	h2 {
		font-size: clamp(2rem, 4vw, 3rem);
	}
	h3 {
		font-size: clamp(1.75rem, 3vw, 2.5rem);
	}
	h4 {
		font-size: clamp(1.5rem, 2.5vw, 2rem);
	}
	h5 {
		font-size: clamp(1rem, 2vw, 1.5rem);
	}
	h6 {
		font-size: clamp(1rem, 2vw, 1rem);
	}

	p {
		@apply font-inter text-[16px] leading-[1.6];
	}
}

@layer components {
	.is-active {
		@apply text-[var(--color-secondary)] !important;
	}

	.animate-marquee {
		animation: marquee 15s linear infinite;
	}
}

@keyframes marquee {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	}
}
