@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss';

.is-active {
	@apply text-secondary;
}

@theme {
	/* Shopify Panelinden Gelen Değişkenler */
	--font-josefin: var(--font-main); /* theme.liquid'de tanımladığımız değişken */
	--font-inter: 'Inter', ui-sans-serif, system-ui;

	--color-primary: var(--color-primary);
	--color-secondary: var(--color-secondary);
	--color-custom-bg: var(--color-bg);

	/* Marquee animation (Burayı aynen bırakıyoruz) */
	--animate-marquee: marquee 15s linear infinite;

	@keyframes marquee {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translateX(-100%);
		}
	}
}

@utility container {
	@apply mx-auto max-w-[1280px] px-4;
}

@layer base {
	body {
		font-family: var(--font-inter);
		background-color: var(--color-custom-bg);
		color: var(--color-primary);
	}
	h1 {
		font-size: clamp(2rem, 5vw, 3.5rem);
		font-family: var(--font-josefin);
		@apply font-bold text-primary leading-tight;
	}

	h2 {
		font-size: clamp(1.75rem, 4vw, 2.75rem);
		font-family: var(--font-josefin);
		@apply font-semibold text-primary leading-tight;
	}

	h3 {
		font-size: clamp(1.5rem, 3vw, 2.25rem);
		font-family: var(--font-josefin);
		@apply font-medium text-primary leading-tight;
	}

	h4 {
		font-size: clamp(1.25rem, 2.5vw, 1.75rem);
		font-family: var(--font-josefin);
		@apply font-medium text-primary leading-tight;
	}

	h5 {
		font-size: clamp(1.1rem, 2vw, 1.25rem);
		font-family: var(--font-josefin);
		@apply font-medium text-primary leading-tight;
	}

	h6 {
		font-size: clamp(1rem, 1.5vw, 1.1rem);
		font-family: var(--font-josefin);
		@apply font-medium text-primary leading-tight;
	}
	p {
		font-family: var(--font-inter);
		font-size: 15px;
		@apply text-primary leading-relaxed;
	}
}

.swiper-button-next,
.swiper-button-prev {
	@apply !w-[40px] !h-[40px];
}

.swiper-pagination-bullet-active {
	@apply !bg-secondary;
}

.swiper-pagination-bullet {
	@apply !bg-secondary !opacity-100 !h-[13px] !w-[13px];
}
